{% extends 'base.html' %}
{% block body %}


<!-- Shop Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
            <!-- Price Start -->
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <a href="">All Price</a>
                        <span class="badge border font-weight-normal">  </span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <a href="?min=0&max=100">$0-$100
                        </a>
                        <span class="badge border font-weight-normal"></span>

                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <a href="?min=100&max=200">
                            $100 - $200
                        </a>

                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <a href="?min=200&max=300">
                            $200 - $300
                        </a>

                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <a href="?min=300&max=400">
                            $300 - $400
                        </a>

                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <a href="?min=400&max=500">
                            $400 - $500
                        </a>

                    </div>
                </form>
            </div>
            <!-- Price End -->

            <!-- Color Start -->
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Filter by color</h5>
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <a href="{{url_for('shop')}}">All Color</a>
                        <span class="badge border font-weight-normal">{{products|length}}</span>
                    </div>

                    {% for color in colors %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">

                        <a href="?color={{color.id}}" style="color:black">{{color}}</a>
                        <span class="badge border font-weight-normal">{{color.product|length}}</span>

                    </div>
                    {% endfor %}


                </form>
            </div>
            <!-- Color End -->

            <!-- Size Start -->
            <div class="mb-5">
                <h5 class="font-weight-semi-bold mb-4">Filter by size</h5>
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <a href="">All Size</a>
                        <span class="badge border font-weight-normal">{{products|length}}</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex flex-column justify-content-between mb-3">
                        {% for s in sizes %}
                        <div
                            class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">

                            <a href="?size={{s.id}}" style="color:black">{{s}}</a>
                            <span class="badge border font-weight-normal">{{s.product|length}}</span>

                        </div>

                        {% endfor %}


                    </div>


                </form>
            </div>
            <!-- Size End -->
        </div>
        <!-- Shop Sidebar End -->


        <!-- Shop Product Start -->

        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                {% for p in products %}

                <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div
                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100  img" src="{{url_for('static',filename='img/')}}{{p.image_url}}"
                                alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">{{p.name}}</h6>
                            <div class="d-flex justify-content-center">
                                <h6>{{p.price}}$</h6>
                                <h6 class="text-muted ml-2"><del>{{p.dis_price}}$</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="{{url_for('detail',id=p.id)}}" class="btn btn-sm text-dark p-0"><i
                                    class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        </div>
                    </div>
                </div>

                {% endfor %}
                

               

            </div>

        </div>


        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->





{% endblock %}